html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 0; 
    z-index: 1000;
}

#logo {
    display: block;
    margin: 40px auto;
    width: 150px;
    height: auto;
    padding: 10px 0;
}

#form-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 70vh;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 90px;
}

#banner {
    padding: 0;
    border-radius: 5px;
    display: flex;
    max-width: 890px;
    min-height: 475px;
    width: 100%;
    overflow: hidden;
}

#banner p {
    margin-bottom: 20px;
}

.left-side {
    width: 390px;
    padding: 40px 24px;
    background-color: #F8F8F8;
}

.left-side h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 30px;
    color: #333333;
}

.left-side p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.15px;
    margin-top: 20px;
    color: #333333;
}

#demarcation {
    width: 68px;
    height: 4px;
    border-radius: 3px;
    background-color: #2376FF;
}

.credibility {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credibility img {
    max-width: 150px;
    height: auto;
}

.right-side {
    width: 500px;
    padding: 40px 40px 120px 40px;
    background-color: #FFFFFF;
}

#consult-form {
    display: flex;
    flex-direction: column;
}

#consult-form select {
    padding: 12px 16px;
    border: 1px solid #006FBB;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    width: 100%;
    box-sizing: border-box;
    outline: #006FBB;
}

#consult-form select:focus {
    outline: none;
    border-color: #006FBB;
}

#consult-form textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    padding: 12px 16px;
    border-radius: 5px;
    border: 2px solid #E1E1E1;
}

#consult-form label, #consult-form p {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 8px;
    margin-top: 0;
    color: #333333;
}

#consult-form input[type="text"],
#consult-form input[type="tel"],
#consult-form input[type="email"] {
    padding: 12px 16px;
    border-radius: 5px;
    border: 2px solid #E1E1E1;
    width: 100%;
    box-sizing: border-box;
}

#consult-form label + select,
#consult-form label + input,
#consult-form label + div,
#consult-form label + textarea,
#consult-form p + .radio-group {
    margin-top: 10px;
    margin-bottom: 30px;
}

.radio-group {
    display: flex;
    gap: 16px; 
    width: 100%;
}

.radio-item {
    display: flex;
    align-items: center;
    padding: 0px 24px;
    border: 2px solid #E1E1E1;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
}

.radio-item input[type="radio"] {
    margin-right: 12px;
}

.radio-group input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #333333;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.radio-group input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #333333;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.radio-group label {
    display: flex;
    font-weight: 600;
    line-height: 21.15px;
    align-items: center;
    padding-top: 9px;
}


#next-step-btn {
    background-color: #F3AA50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 20px;
}

#next-step-btn:hover {
    background-color: #f79721;
}

#caution p, #terms-of-use p {
    color: #8F8F8F;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.1px;
    text-align: justify;
    box-sizing: border-box;
    margin-top: 30px;
}

span {
    color: #006FBB;
    text-decoration: underline;
    cursor: pointer;
}

.centered-text {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.8px;
    color: #272727;
    padding-bottom: 20px;
}

.name-fields {
    display: flex;
    gap: 16px;
}

.name-fields input[type="text"]::placeholder {
    color: #8F8F8F;
    font-size: 18px;
    font-weight: 600;
}

footer {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    position: relative;
}


@media (max-width: 768px) {
    #banner {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        min-height: auto;
    }

    .left-side,
    .right-side {
        width: 100%;
        background-color: #FFFFFF;
        box-sizing: border-box;
    }

    .left-side {
        padding: 24px 16px;
        border-radius: 3px;
    }

    .right-side {
        padding: 0;
    }

    #demarcation {
        display: none;
    }

    #next-step-btn {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
}
